main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin-top: 37px;
}

main div.top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

main div.top section.left {
  width: calc(50% - 30px);
  position: relative;
  overflow: hidden;
  max-width: 540px;
  height: 406px;
}

main div.top section.left div.imgContainer {
  width: 100%;
  height: 100%;
}

main div.top section.left div.imgContainer img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main div.top section.left button.leftBtn {
  font-size: 2.5rem;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 5px;
  border: none;
  background: none;
}

main div.top section.left button.rightBtn {
  font-size: 2.5rem;
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 5px;
  border: none;
  background: none;
}

main div.top section.left .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main div.top section.left .dots .dot {
  cursor: pointer;
  list-style: none;
  width: 1rem;
  height: 1rem;
  margin: 0 5px;
  background-color: black;
  border: 1px solid white;
  border-radius: 50%;
}

main div.top section.left .dots .dot:hover {
  background: white;
}

main div.top section.left .dots .active {
  background: rgba(255, 255, 255, 0.8);
}

main div.top section.right {
  width: 50%;
}

main div.top section.right div.spotTitle,
main div.top section.right div.spotMrt {
  color: #666666;
  font-size: 1.25rem;
  margin: 15px 0 25px 0;
}

main div.top section.right .spotTitle,
main div.top section.right .bolder {
  font-weight: bolder;
}

main div.top section.right form {
  background-color: #e8e8e8;
  max-width: 600px;
  height: auto;
  border-radius: 5px;
}

main div.top section.right form div.form_content {
  line-height: 2.5rem;
  color: #666666;
  margin: 16px 20px;
  position: relative;
}

main div.top section.right form div.form_content span {
  font-weight: bolder;
  padding-right: 8px;
}

main div.top section.right form div.form_content .order_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main div.top section.right form div.form_content .order_date input {
  width: 193px;
  height: 35px;
  color: black;
  padding: 5px 10px;
}

main div.top section.right form div.form_content .order_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main div.top section.right form div.form_content .order_time div.morning label,
main div.top section.right form div.form_content .order_time div.afternoon label {
  padding: 0 8px;
}

main div.top section.right form div.form_content .order_time input[type="radio"]:after {
  width: 18px;
  height: 18px;
  border-radius: 15px;
  top: -4px;
  left: -1px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  border: 2px solid white;
  cursor: pointer;
}

main div.top section.right form div.form_content .order_time input[type="radio"]:checked:after {
  width: 18px;
  height: 18px;
  border-radius: 15px;
  top: -4px;
  left: -1px;
  position: relative;
  background: #448899;
  content: "";
  display: inline-block;
  border: 2px solid white;
  cursor: pointer;
}

main div.top section.right form div.form_content .order_cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main div.top section.right form div.form_content button.reserved_button {
  color: white;
  background-color: #448899;
  border: none;
  font-size: 1.25rem;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

main div.top section.right form div.form_content button.reserved_button:hover {
  opacity: 0.8;
}

main div.top section.right form div.form_content p.error_message {
  color: red;
  font-size: 1.25rem;
  position: absolute;
  -webkit-transform: translate(140%, -150%);
          transform: translate(140%, -150%);
}

main hr {
  width: 1200px;
  margin: 2rem auto;
}

main section.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 3rem;
  color: #666666;
}

main section.content .spotDesc {
  line-height: 1.8rem;
}

main section.content p {
  margin: 20px 0 5px 0;
  font-weight: bolder;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  main div.top {
    width: 90%;
  }
  main section.content {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  main div.top {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main div.top section.left {
    width: 90%;
  }
  main div.top section.left div.imgContainer img {
    height: 100%;
  }
  main div.top section.right {
    width: 90%;
    margin-top: 1rem;
  }
  main div.top section.right .spotTitle,
  main div.top section.right .spotMrt {
    text-align: center;
  }
  main div.top section.right form {
    max-width: 900px;
  }
}

@media screen and (max-width: 540px) {
  main div.top section.left {
    width: 100%;
  }
  main div.top section.left div.imgContainer img {
    width: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 406px;
  }
  main div.top section.right {
    width: 90%;
  }
}
/*# sourceMappingURL=attraction.css.map */