main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 37px;
  div.top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    section.left {
      width: calc(50% - 30px);
      position: relative;
      overflow: hidden;
      max-width: 540px;
      height: 406px;
      div.imgContainer {
        width: 100%;
        height: 100%;
        img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      button.leftBtn {
        font-size: 2.5rem;
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 5px;
        border: none;
        background: none;
      }
      button.rightBtn {
        font-size: 2.5rem;
        position: absolute;
        cursor: pointer;
        top: 50%;
        right: 5px;
        border: none;
        background: none;
      }
      .dots {
        display: flex;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        .dot {
          cursor: pointer;
          list-style: none;
          width: 1rem;
          height: 1rem;
          margin: 0 5px;
          background-color: black;
          border: 1px solid rgba(255, 255, 255, 1);
          border-radius: 50%;
          &:hover {
            background: white;
          }
        }
        .active {
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }

    section.right {
      width: 50%;
      div.spotTitle,
      div.spotMrt {
        color: rgba(102, 102, 102, 1);
        font-size: 1.25rem;
        margin: 15px 0 25px 0;
      }
      .spotTitle,
      .bolder {
        font-weight: bolder;
      }
      form {
        background-color: rgba(232, 232, 232, 1);
        max-width: 600px;
        height: auto;
        border-radius: 5px;
        div.form_content {
          line-height: 2.5rem;
          color: rgba(102, 102, 102, 1);
          margin: 16px 20px;
          position: relative;
          span {
            font-weight: bolder;
            padding-right: 8px;
          }
          .order_date {
            display: flex;
            input {
              width: 193px;
              height: 35px;
              color: black;
              padding: 5px 10px;
            }
          }
          .order_time {
            display: flex;
            div.morning,
            div.afternoon {
              label {
                padding: 0 8px;
              }
            }
            input[type="radio"]:after {
              width: 18px;
              height: 18px;
              border-radius: 15px;
              top: -4px;
              left: -1px;
              position: relative;
              background-color: white;
              content: "";
              display: inline-block;
              border: 2px solid white;
              cursor: pointer;
            }

            input[type="radio"]:checked:after {
              width: 18px;
              height: 18px;
              border-radius: 15px;
              top: -4px;
              left: -1px;
              position: relative;
              background: rgba(68, 136, 153, 1);
              content: "";
              display: inline-block;
              border: 2px solid white;
              cursor: pointer;
            }
          }
          .order_cost {
            display: flex;
          }
          button.reserved_button {
            color: rgba(255, 255, 255, 1);
            background-color: rgba(68, 136, 153, 1);
            border: none;
            font-size: 1.25rem;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin: 20px 0;
            &:hover {
              opacity: 0.8;
            }
            transition: 0.3s all ease-in;
          }
          p.error_message {
            color: red;
            font-size: 1.25rem;
            position: absolute;
            transform: translate(140%, -150%);
          }
        }
      }
    }
  }
  hr {
    width: 1200px;
    margin: 2rem auto;
  }
  section.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 3rem;
    color: rgba(102, 102, 102, 1);
    .spotDesc,
    .spotTrans {
      line-height: 1.8rem;
    }
    p {
      margin: 20px 0 5px 0;
      font-weight: bolder;
    }
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  main {
    div.top {
      width: 90%;
    }
    section.content {
      width: 90%;
    }
  }
}
@media screen and (max-width: 1000px) {
  main {
    div.top {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      section.left {
        width: 90%;
        div.imgContainer {
          img {
            height: 100%;
          }
        }
      }
      section.right {
        width: 90%;
        margin-top: 1rem;
        .spotTitle,
        .spotMrt {
          text-align: center;
        }
        form {
          max-width: 900px;
        }
      }
    }
  }
}
@media screen and (max-width: 540px) {
  main {
    div.top {
      section.left {
        width: 100%;
        div.imgContainer {
          img {
            width: 100vw;
            object-fit: cover;
            max-height: 406px;
          }
        }
      }
      section.right {
        width: 90%;
      }
    }
  }
}
