* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  header {
    position: sticky;
    z-index: 5;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgb(128, 128, 128);
    nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      div.logo {
        margin: 0.5rem 0;
        a {
          color: #448899;
          text-decoration: none;
          font-size: 2rem;
        }
      }
      ul {
        display: flex;
        align-items: center;
        margin: 0.5rem 0;
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            color: #666666;
            padding: 0.5rem;
            font-size: 1rem;
          }
        }
      }
    }
  }

  section.popup {
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    z-index: 10;
    div.popup_container {
      width: 340px;
      height: 285px;
      background-color: rgba(255, 255, 255, 1);
      position: relative;
      top: 80px;
      border-radius: 6px;
      div.blank {
        width: 340px;
        height: 10px;
        background: linear-gradient(
          0deg,
          rgba(51, 119, 136, 1),
          rgba(102, 170, 187, 1)
        );
        border-radius: 6px 6px 0 0;
      }
      div.close_button {
        position: absolute;
        top: 0.8rem;
        left: 300px;
        font-size: 2rem;
        cursor: pointer;
      }
      form {
        h3 {
          color: rgba(102, 102, 102, 1);
          font-size: 1.5rem;
          text-align: center;
          margin-top: 15px;
        }
        input {
          width: 310px;
          height: 47px;
          border: 1px solid #cccccc;
          border-radius: 5px;
          color: rgba(102, 102, 102, 1);
          font-size: 1rem;
          padding: 0 15px;
          display: block;
          margin: 10px auto;
        }
        button {
          width: 310px;
          height: 47px;
          background-color: #448899;
          border: none;
          border-radius: 5px;
          color: white;
          font-size: 1.25rem;
          cursor: pointer;
          display: block;
          margin: 10px auto;
        }
        #signin_successAlert {
          text-align: center;
          color: green;
        }
        #signin_errorAlert {
          text-align: center;
          color: red;
        }
        div.a_tag {
          text-align: center;
          a {
            color: rgba(102, 102, 102, 1);
            text-decoration: none;
            cursor: pointer;
            margin: 0 auto;
          }
        }
      }
    }
  }
  main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    h4 {
      font-size: 1.25rem;
      margin: 45px 100px 15px 100px;
      font-weight: bolder;
    }
    #no_order {
      margin: 15px 100px;
    }
    .schedule {
      display: flex;
      flex-direction: column;
      margin: 0 100px;
      .bolder {
        font-weight: bolder;
      }
      span.normal {
        font-weight: normal;
        padding-left: 5px;
      }
      .schedule_content {
        display: flex;
        position: relative;
        .left_imgcontainer {
          max-width: 266px;
          height: 200px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .right {
          margin-left: 22px;
          h4 {
            color: rgba(68, 136, 153, 1);
            margin: 0 0 30px 0;
          }
          p {
            line-height: 30px;
          }
        }
        .trushBtn {
          position: absolute;
          right: 5px;
        }
      }
    }
    hr {
      width: 1200px;
      margin: 45px auto;
    }
    form {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      // margin: 0 auto;
      justify-content: center;
      // align-items: center;
      h4 {
        font-size: 1.25rem;
        font-weight: bolder;
        margin: 0 0 24px 0;
      }
      .pay_form {
        width: 100%;
        .pay_form_up,
        .pay_form_down {
          margin: 0 100px;
        }
        input {
          width: 200px;
          height: 38px;
          margin: 15px 0;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid rgba(232, 232, 232, 1);
          font-size: 1rem;
        }
      }
      .pay_button {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h4 {
          margin-right: 100px;
        }
        .payBtn {
          background-color: rgba(68, 136, 153, 1);
          color: white;
          font-size: 1.25rem;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          margin-bottom: 72px;
          margin-right: 100px;
        }
      }
    }
  }

  section.signup_popup {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    z-index: 11;
    div.signup_popup_container {
      width: 340px;
      height: 345px;
      background-color: rgba(255, 255, 255, 1);
      position: relative;
      top: 80px;
      border-radius: 6px;
      div.signup_blank {
        width: 340px;
        height: 10px;
        background: linear-gradient(
          0deg,
          rgba(51, 119, 136, 1),
          rgba(102, 170, 187, 1)
        );
        border-radius: 6px 6px 0 0;
      }
      div.signup_close_button {
        position: absolute;
        top: 0.8rem;
        left: 300px;
        font-size: 2rem;
        cursor: pointer;
      }
      form {
        h3 {
          color: rgba(102, 102, 102, 1);
          font-size: 1.5rem;
          text-align: center;
          margin-top: 15px;
        }
        input {
          width: 310px;
          height: 47px;
          border: 1px solid #cccccc;
          border-radius: 5px;
          color: rgba(102, 102, 102, 1);
          font-size: 1rem;
          padding: 0 15px;
          display: block;
          margin: 10px auto;
        }
        button {
          width: 310px;
          height: 47px;
          background-color: #448899;
          border: none;
          border-radius: 5px;
          color: white;
          font-size: 1.25rem;
          cursor: pointer;
          display: block;
          margin: 10px auto;
        }
        #signup_successAlert {
          text-align: center;
          color: green;
        }
        #signup_errorAlert {
          text-align: center;
          color: red;
        }
        div.a_tag {
          text-align: center;
          a {
            color: rgba(102, 102, 102, 1);
            text-decoration: none;
            cursor: pointer;
            margin: 0 auto;
          }
        }
      }
    }
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 104px;
    width: 100%;
    background-color: #757575;
    h4 {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 750px) {
    main {
      h4 {
        margin: 35px 20px 0 20px;
      }
      .schedule {
        margin: 0 20px;
        .schedule_content {
          flex-direction: column;
          .trushBtn {
            top: 550px;
          }
          .left_imgcontainer {
            width: 100%;
            max-width: 750px;
            height: auto;
          }
          .right {
            margin-left: 0px;
            h4 {
              margin: 30px 0;
            }
          }
        }
      }
      form {
        .pay_form {
          .pay_form_up,
          .pay_form_down {
            margin: 0 20px;
          }
        }
        .pay_button {
          h4,
          .payBtn {
            margin-right: 20px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    main {
      .schedule {
        .schedule_content {
          .trushBtn {
            top: 370px;
            font-size: small;
          }
          .left_imgcontainer {
            width: 100%;
          }
        }
      }
    }
  }
}
