main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .imgcontainer {
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
}

main .imgcontainer h4 {
  font-size: 1.25rem;
  margin: 30px 100px;
  font-weight: bolder;
}

main .imgcontainer #no_order {
  margin: 15px 100px 45px 100px;
  font-size: 1.25rem;
}

main .imgcontainer .schedule {
  margin: 0 100px;
}

main .imgcontainer .schedule .bolder {
  font-weight: bolder;
}

main .imgcontainer .schedule span.normal {
  font-weight: normal;
  padding-left: 5px;
}

main .imgcontainer .schedule .schedule_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .imgcontainer .schedule .schedule_content .left_imgcontainer {
  max-width: 266px;
  height: 200px;
}

main .imgcontainer .schedule .schedule_content .left_imgcontainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .imgcontainer .schedule .schedule_content .right {
  margin-left: 22px;
}

main .imgcontainer .schedule .schedule_content .right h4 {
  color: #448899;
  margin: 0 0 30px 0;
}

main .imgcontainer .schedule .schedule_content .right p {
  line-height: 30px;
}

main .imgcontainer .schedule .schedule_content .trushBtn {
  position: absolute;
  right: 0;
  cursor: pointer;
}

main .imgcontainer hr {
  width: 1200px;
  margin: 45px auto;
}

main .imgcontainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .imgcontainer form h4 {
  font-size: 1.25rem;
  font-weight: bolder;
  margin: 0 0 24px 0;
}

main .imgcontainer form .pay_form {
  width: 100%;
}

main .imgcontainer form .pay_form .pay_form_up,
main .imgcontainer form .pay_form .pay_form_down {
  margin: 0 100px;
}

main .imgcontainer form .pay_form input {
  width: 200px;
  height: 38px;
  margin: 15px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  font-size: 1rem;
}

main .imgcontainer form .pay_button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .imgcontainer form .pay_button h4 {
  margin-right: 100px;
}

main .imgcontainer form .pay_button .payBtn {
  background-color: #448899;
  color: white;
  font-size: 1.25rem;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 72px;
  margin-right: 100px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 104px;
  width: 100%;
  background-color: #757575;
}

footer h4 {
  font-size: 1rem;
}

@media screen and (max-width: 1000px) {
  main .imgcontainer #no_order {
    margin: 0 20px 35px 20px;
  }
  main .imgcontainer h4 {
    margin: 35px 20px;
  }
  main .imgcontainer .schedule {
    margin: 0 20px;
  }
  main .imgcontainer .schedule .schedule_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .imgcontainer .schedule .schedule_content .trushBtn {
    top: 650px;
  }
  main .imgcontainer .schedule .schedule_content .left_imgcontainer {
    width: 100%;
    max-width: 1000px;
    min-height: 450px;
  }
  main .imgcontainer .schedule .schedule_content .right {
    margin-left: 0px;
  }
  main .imgcontainer .schedule .schedule_content .right h4 {
    margin: 30px 0;
  }
  main .imgcontainer form .pay_form .pay_form_up,
  main .imgcontainer form .pay_form .pay_form_down {
    margin: 0 20px;
  }
  main .imgcontainer form .pay_button h4,
  main .imgcontainer form .pay_button .payBtn {
    margin-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  main .imgcontainer .schedule .schedule_content .trushBtn {
    top: 460px;
    font-size: small;
  }
  main .imgcontainer .schedule .schedule_content .left_imgcontainer {
    width: 100%;
    min-height: 250px;
  }
}
/*# sourceMappingURL=booking.css.map */