main {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  .imgcontainer {
    overflow: hidden;
    max-width: 1200px;
    width: 100%;
    h4 {
      font-size: 1.25rem;
      margin: 30px 100px;
      font-weight: bolder;
    }
    #no_order {
      margin: 15px 100px 45px 100px;
      font-size: 1.25rem;
    }
    .schedule {
      margin: 0 100px;
      .bolder {
        font-weight: bolder;
      }
      span.normal {
        font-weight: normal;
        padding-left: 5px;
      }
      .schedule_content {
        display: flex;
        position: relative;
        .left_imgcontainer {
          max-width: 266px;
          height: 200px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .right {
          margin-left: 22px;
          h4 {
            color: rgba(68, 136, 153, 1);
            margin: 0 0 30px 0;
          }
          p {
            line-height: 30px;
          }
        }
        .trushBtn {
          position: absolute;
          right: 0;
          cursor: pointer;
        }
      }
    }
    hr {
      width: 1200px;
      margin: 45px auto;
    }
    form {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      h4 {
        font-size: 1.25rem;
        font-weight: bolder;
        margin: 0 0 24px 0;
      }
      .pay_form {
        width: 100%;
        .pay_form_up,
        .pay_form_down {
          margin: 0 100px;
        }
        input {
          width: 200px;
          height: 38px;
          margin: 15px 0;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid rgba(232, 232, 232, 1);
          font-size: 1rem;
        }
      }
      .pay_button {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h4 {
          margin-right: 100px;
        }
        .payBtn {
          background-color: rgba(68, 136, 153, 1);
          color: white;
          font-size: 1.25rem;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          margin-bottom: 72px;
          margin-right: 100px;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 104px;
  width: 100%;
  background-color: #757575;
  h4 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1000px) {
  main {
    .imgcontainer {
      #no_order {
        margin: 0 20px 35px 20px;
      }
      h4 {
        margin: 35px 20px;
      }
      .schedule {
        margin: 0 20px;
        .schedule_content {
          flex-direction: column;
          .trushBtn {
            top: 650px;
          }
          .left_imgcontainer {
            width: 100%;
            max-width: 1000px;
            min-height: 450px;
            // height: auto;
          }
          .right {
            margin-left: 0px;
            h4 {
              margin: 30px 0;
            }
          }
        }
      }
      form {
        .pay_form {
          .pay_form_up,
          .pay_form_down {
            margin: 0 20px;
          }
        }
        .pay_button {
          h4,
          .payBtn {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  main {
    .imgcontainer {
      .schedule {
        .schedule_content {
          .trushBtn {
            top: 460px;
            font-size: small;
          }
          .left_imgcontainer {
            width: 100%;
            min-height: 250px;
          }
        }
      }
    }
  }
}
