.order_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  font-size: 1.25rem;
  span {
    padding-left: 5px;
  }
  h4 {
    font-weight: bolder;
    margin: 2rem 0;
  }
  p {
    line-height: 2rem;
    display: flex;
    justify-content: center;
  }
  .order_content {
    margin: 3rem 0 1rem 0;
    line-height: 2.3rem;
    .imgContainer {
      max-width: 450px;
      max-height: 338px;
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
  p.remind {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .order_info {
    width: 90%;
    margin: 0 auto;
  }
}
