<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Phoebe Pao" />
    <meta name="description" content="介紹最經典的台北一日遊景點,滿足您對台北的所有想像" />
    <meta name="rating" content="General" />
    <meta name="robots" content="index,follow" />

    <!--google font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
   
    <!--!fontawsome-->
    <script src="https://kit.fontawesome.com/eb2b622fe6.js" crossorigin="anonymous"></script>
    <title>台北一日遊:景點介紹</title>
    <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename = 'css/attraction.css')}}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="http://127.0.0.1:3000/">台北一日遊</a>
            </div>           
            <ul class="menu">
                <li><a href="#">預定行程</a></li>
                <li><a href="#">登入/註冊</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="top">

            <section class="left">
                <div class="imgContainer"></div>
                <button class="leftBtn"><img src="../static/icon/btn_leftArrow.svg" ></button>
                <button class="rightBtn"><img src="../static/icon/btn_rightArrow.svg" ></button>
                <ul class="dots"></ul>
            </section>

            <section class="right">
                <div class="spotTitle"></div>
                <div class="spotMrt"></div>
                <form action="">
                    <div class="form_content">
                        <p class="bolder">訂購導覽行程</p>
                        <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                        <div class="order_date">                           
                            <span>訂購日期:</span>
                            <input id="order_date" name="order_date" type="date">
                        </div>
                        <div class="order_time">
                            <span>選擇時間:</span>
                            <div class="morning">
                                <input type="radio" id="morning" name="chooseTime">
                                <label for="morning">上半天</label>
                            </div>
                            <div class="afternoon">
                                <input type="radio" id="afternoon" name="chooseTime">
                                <label for="afternoon">下半天</label>
                            </div>
                        </div>
                        <div class="order_cost">
                            <span>導覽費用:</span>
                            <p class="money">新台幣2000元</p>
                        </div>
                        <button>開始預訂行程</button>
                    </div>
                </form>
            </section>
        </div>

        <hr>

        <section class="content">
                <div class="spotDesc"></div>
                <p>景點地址：</p>
                <div class="spotAdd"></div>
                <p>交通方式：</p>
                <div class="spotTrans"></div>
        </section>
    </main>
    
    <footer>
        <h4>COPYRIGHT © 2021 台北一日遊</h4>
    </footer>
</body>

<script src="{{url_for('static', filename = 'js/attraction.js')}}"></script>
</html>