{% extends "base.html" %}

{% block title %}景點介紹:台北一日遊{% endblock %}

{% block head %}
    <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename = 'css/attraction.css')}}">
{% endblock %}

{% block main %}
    <div class="top">
        
        <section class="left">
            <div class="imgContainer"></div>
            <button class="leftBtn"><img src="../static/icon/btn_leftArrow.svg" ></button>
            <button class="rightBtn"><img src="../static/icon/btn_rightArrow.svg" ></button>
            <ul class="dots"></ul>
        </section>

        <section class="right">
            <div class="spotTitle"></div>
            <div class="spotMrt"></div>
            <form action="">
                <div class="form_content">
                    <p class="bolder">訂購導覽行程</p>
                    <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <div class="order_date">                           
                        <span>訂購日期:</span>
                        <input id="order_date" name="date" type="date">
                    </div>
                    <div class="order_time">
                        <span>選擇時間:</span>
                        <div class="morning">
                            <input type="radio" id="morning" name="time" value="morning" checked>
                            <label for="morning">上半天</label>
                        </div>
                        <div class="afternoon">
                            <input type="radio" id="afternoon" name="time" value="afternoon">
                            <label for="afternoon">下半天</label>
                        </div>
                    </div>
                    <div class="order_cost">
                        <span>導覽費用:</span>
                        <p class="money">新台幣2000元</p>
                    </div>
                    <button class="reserved_button">開始預訂行程</button>
                    <p class="error_message"></p>
                </div>
            </form>
        </section>
    </div>

    <hr>

    <section class="content">
            <div class="spotDesc"></div>
            <p>景點地址：</p>
            <div class="spotAdd"></div>
            <p>交通方式：</p>
            <div class="spotTrans"></div>
    </section>
{% endblock %}

{% block script %}
    <script src="{{url_for('static', filename = 'js/attraction.js')}}"></script>
{% endblock %}

