{% extends "base.html" %}

{% block title %}行程預定:台北一日遊{% endblock %}

{% block head %}
    <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename = 'css/booking.css')}}">
{% endblock %}

{% block main %}
    <div class="imgcontainer">

        <h4 class="bolder">您好，<span class="username"></span>，待預定的行程如下:</h4>
        
        <p id="no_order"></p>
        
        <section class=ok_order>

            <div class="schedule">
                <div class="schedule_content">
                    <div class="left_imgcontainer">
                        <img id="spotPic" alt="景點照">
                    </div>
                    <div class="right">
                        <h4 class="bolder">台北一日遊:<span id="spotName"></span></h4>
                        <p class="bolder">日期:<span class="normal" id="spotDate"></span></p>
                        <p class="bolder">時間:<span class="normal" id="spotTime"></span></p>
                        <p class="bolder">費用:<span class="normal" id="spotCost"></span></p>
                        <p class="bolder">地點:<span class="normal" id="spotAddress"></span></p>
                    </div>
                    <div class="trushBtn"><i class="fas fa-trash-alt fa-2x"></i></div>
                </div>
            </div>
        
            <hr>

            <form action="">
                <div class="pay_form">
                    <div class="pay_form_up">
                        <h4>您的聯絡資訊</h4>
                        <label for="pay_name">聯絡姓名:</label>
                        <input type="text" id="pay_name" name="pay_name" required>
                        <br>
                        <label for="pay_email">聯絡信箱:</label>
                        <input type="email" id="pay_email" name="pay_email" required>
                        <br>
                        <label for="pay_phone">手機號碼:</label>
                        <input type="text" id="pay_phone" name="pay_phone" required>
                        <br>
                        <p>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
                    </div>
        
            <hr>
        
                    <div class="pay_form_down">
                        <h4>信用卡付款資訊</h4>
                        <label for="pay_card">卡片號碼:</label>
                        <input type="password" id="pay_card" name="pay_card" placeholder="**** **** **** ****" required>
                        <br>
                        <label for="pay_expired_date">過期時間:</label>
                        <input type="email" id="pay_expired_date" name="pay_expired_date" placeholder="MM/YY" required>
                        <br>
                        <label for="pay_password">驗證密碼:</label>
                        <input type="text" id="pay_password" name="pay_password" placeholder="CVV" required>
                    </div>
                    
            <hr>
                </div>

                <div class="pay_button">             
                    <h4>總價：<span id="spotCost">新台幣 2000 元</span></h4>
                    <button class="payBtn">確認訂購並付款</button>
                </div>
            </form>
        </section>
    </div>
{% endblock %}

{% block script %}
    <script src="{{url_for('static', filename = 'js/booking.js')}}"></script>
{% endblock %}


